<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="toolbar.css">
  <title>홈이다.</title>
 </head>
 <body>
     <style>
        .div-tag
        {
            padding: 0 80px;
        }
     </style>
      
        <!---------------- toolbar start ---------------->
        <% if(session.user) { %>
            <div class="topnav">
                <a href="#"><img class="logo" src="logo.png"></a>
                <h1 class="user-desr">
                        어서오세요. <%= session.user.name %> 님
                </h1>
                <% if(messages.error) { %>
                    <script>
                        alert('<%= messages.error %> ');
                    </script>
                <% } %>
                <div class="form-wrapper">
                    <button class="form-write button-tag" onclick="blog()">내 블로그</button>
                    <button class="form-write button-tag" onclick="logout()">로그아웃</button>
                </div>
            </div>
        <% } %>
        <% if(!session.user) { %>
            <div class="topnav">
                <a href=""><img class="logo" src="logo.png"></a>
                <h1 class="user-desr">
                        어서오세요. 게스트 님
                </h1>
                <% if(messages.error) { %>
                    <script>
                        alert('<%= messages.error %> ');
                    </script>
                <% } %>
                <div class="form-wrapper">
                    <form class="form-write" name="write_form_member" method="get" action="/register">
                        <input class="button-tag" type="submit" name="submit-button" value="회원가입">
                    </form>
                    <button class="form-write button-tag" onclick="login()">로그인</button>
                </div>
            </div>
        <% } %>
        <!---------------- toolbar end ---------------->
        <div class="main-t">
            <img class="main-img" src="logo.png">
        </div>
        <footer class="footer">
            footer
          </footer>
    </body>
    <script>
        function login() {
        location.href = "login";
        }
        function logout() {
        location.href = "logout";
        }
        function blog() {
        location.href = "list";
        }
        </script>
    </html>