<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
 
  <title>로그인</title>
 </head>
 <body>
 <form name="write_form_member" method="post" action="/login">
   <table width="940" style="padding:5px 0 5px 0; ">
      <tr height="2"><td colspan="2"></td></tr>
       <tr>
         <th>아이디</th>
         <td>
         <input type="text" name="id">
         </td>
       </tr>
       <tr>
         <th>비밀번호</th>
         <td><input type="password" name="password"></td>
       </tr>
         <tr>
          <th></th>
          <td>
            <input type="submit" name="submit-button"></td>
       </tr>
    </table>
  </form>
 </body>
 </html>