<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
 
  <title>회원 가입</title>
 </head>
 <body>
 <form name="write_form_member" method="post" action="/register">
   <table width="940" style="padding:5px 0 5px 0; ">
      <tr height="2"><td colspan="2"></td></tr>
       <tr>
         <th>아이디</th>
         <td>
         <input type="text" name="userId">
         </td>
       </tr>
       <tr>
         <th>비밀번호</th>
         <td><input type="password" name="password"></td>
       </tr>
        <tr>
          <th>이메일</th>
          <td>
            <input type='text' name="email">
          </td>
         </tr>
          </form>
          <tr>
            <th> 이름</th>
            <td><input type="text" name="name"></td>
         </tr>
         <tr>
          <th></th>
          <td>
            <input type="submit" name="submit-button"></td>
       </tr>
    </table>
    
    <h5>
      ※아이디는 1자이상, 30자 이하 영어(대소문자)나 숫자로 입력해주세요.<br>
      ※비밀번호는 8자리 이상으로 입력해 주세요. 이메일은 .com이나 .net으로 입력해주세요.<br>
      ※이름은 1자이상 영어(대소문자)나 숫자로 입력해주세요.
    </h5>
    
  </form>
 </body>
 </html>