<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>글쓰기</title>
  <link rel="stylesheet" type="text/css" href="toolbar.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 </head>
 <style>
   input:focus {outline:none;}
  .title-write
  {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 36px;
    width:640px;
    height: 80px;
    border: none;
    border-bottom: 1.5px solid #fff;
    background-color: #ddd;
  }
  .content-write
  {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    width: 640px;
    height: 480px;
    border: none;
    background-color: #ddd;
  }
  .footer
  {
    margin: 30px 0;
  }
 </style>
 <body>
   <!---------------- toolbar start ---------------->
  <div class="topnav">
    <a href="#"><img class="logo" src="logo.png"></a>
    <h1 class="user-desr">
        안녕하세요. <%= session.user.name %> 님
    </h1>
    <% if(messages.error) { %>
        <script>
            alert('<%= messages.error %> ');
        </script>
    <% } %>
    <div class="form-wrapper">
        <form class="form-write" name="write_form" method="post" enctype="multipart/form-data" action="/write">
          <input class="button-tag" type="submit" name="submit-button" value="제출">
    </div>
 </div>
    <!---------------- toolbar end ---------------->
    <div class="main-t">
      <p><input class="title-write" type="text" name="title" placeholder="제목"></p>
      <p><input multiple="multiple" type="file" name="file"></p>
      <p><textarea class="content-write" type="text" name="content" placeholder="내용"></textarea></p>
    </div>
</form>
  <footer class="footer">
    footer
  </footer>
 </body>
 </html>